/* Ben: Defines the style of each row on the chessboard */
.row {
   position: relative;
   margin-left: 10%;
   margin-right: 10%;
}

/* Ben: Defines the look of white cells on the board */
.white {
   border: 1px solid black;
   width: 10%;
   height: 60px;
   background-color: white;
   float: left;
}
 
/* Ben: Defines the look of black cells on the board */
.black {
   border: 1px solid black;
   width: 10%;
   height: 60px;
   background-color: #787878;
   float: left;
}

/* Ben: Styling the footer with the validator */
#footer {
   border: solid 1px;
   padding: 10px;
   margin: 10px;
}

/* Ben: Making sure the chessboard is properly aligned and centered */
#container {
   margin-top: 20%;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 5%;
}

/* Ben: Centers the title and styles it with a font and background color */
#title {
   position: fixed;
   top: 0px;
   left: 0px; 
   padding: 10px;
   margin: 0px;
   width: 100%;
   background-color: lightblue;
   text-align: center; 
   z-index: 10;
   font-family: 'JustLettersMedium'; 
   font-weight: normal; 
   font-style: normal; 
   font-size: 36px;
}

/* Ben: Ensures that the image on each cell is properly aligned */
img {
   margin-left: 5px;
   margin-top: 10px;
 }

/* Ben: Adds a background image */
body {
   background-image: url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
}

/* Ben: Makes sure each row starts a new line */
#clear {
  clear: both;
}
/* Mumtaas: Minor style additions or edits */

footer {
  background-color: #444;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
}

footer a {
  color: #ffd700;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}




